@mixin initialFormat () {
    * {
        margin: 0;
        //border: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Segoe UI;
    }
    
    html, body {
        height: 100%;
        width: 100%;
        overflow: hidden;////////////
    }   
}

@mixin memberFormItems {
    border: 1px solid $borderColor;
    border-radius: 8px;
    margin: 1%;
    padding: 3%;
    width: 310px;
}
@mixin flexFunction ($justifyContent, $alignItems, $width, $height, $direction ){

    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    width: $width;
    height: $height;
    //flex-wrap: wrap;
    flex-direction: $direction;

}

// this function used to convert px to % , in order to make the page responsive

@mixin widthCalculatePercentage ($widthPX, $parentWidthPX){
    
    width: unquote( ($widthPX * 1.0)  / ($parentWidthPX * 100) + '% ' + !important );
    
}

@mixin heigthCalculatePercentage ($parentHeightPX, $heightPX){
    
    height: unquote( ($heightPX * 1.0)  / ($parentHeightPX * 100) + '% ' + !important );
    
}