@import './variables';
@import './functions';

@include initialFormat();


header {
    background: $websiteColor;
    height: heigthCalculatePercentage(1080, 76);
    h1 {
        font: 22px 'Segoe UI';
        font-weight: bold;
        color: #fff;
        text-align: center;
        //vertical-align: middle;
        padding: 1% 1%;
        // use vh unit 
        line-height: 98%;
    }
}

.main-container {
    background: #fff;
    @include flexFunction(center, flex-start, 100%, 92.2%, row );

    .add-member-container {
        //background: rgb(179, 149, 154);
        @include flexFunction(flex-start,center,  27%, auto, column );
        border: 1px solid $borderColor;
        border-radius: 25px;
        margin: 2.5% 2%;

        h1 {
            font: 22px 'Segoe UI';
            font-weight: bold;
            color: $textColor;
            padding: 5%;
        }

        .add-member-form {
            @include flexFunction(flex-start,center,  100%, /*100%*/auto, column );
            
            div input {
                @include memberFormItems();
            
            }
            .custom-select {
                @include memberFormItems();
                position: relative;
                font-family: Arial;
                color: gray;
            }
          
            div textarea {
                @include memberFormItems();
                overflow-y: auto;
                resize: none;
            }

            span {
                //@include flexFunction(flex-start,center,  100%, auto, row );
                margin-top: 1.5%;
                
                span {
                    font: 12px 'Segoe UI';
                    color: black;
                    margin-right: 93px;
                }
                .text-input {
                    border: 1px solid $borderColor;
                    //border-radius: 8px;
                    padding: 3px;
                    width: 50px;
                }
            }    
        }
        button {
            background: $websiteColor;
            border: none;
            width: 100%;
            padding: 12px 150px;
            border-radius: 0px 0px 25px 25px;
            color: #fff;
            font-weight: bold;
            font: 22px 'Segoe UI';
            margin-top: 5%;
        }
    }
    .members-list-container {
        overflow-y: scroll;
       // background: blue;
        @include flexFunction(flex-start,center,  60%, 100%, column ); // auto ? 100%
        
        .main-filter-bar {
            color: white;
            background: $membersListBackground;
            @include flexFunction(space-between, center, 100%, 20%, row );
            .filter-bar {
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                background: $websiteColor;
                @include flexFunction(space-around, center, 80%, 50%, row );
                height: 50%;
                width: 80%;
                .major-role {
                    border-right: 1px solid #fff;
                    border-left: 1px solid #fff;
                }
                div {
                    
                    @include flexFunction(center, center, 80%, 80%, row );
                    select {
                        margin-right: 8px;
                        margin-left: 8px;
                        border-radius: 5px;
                        border: none;
                        padding: 2px 2px;
                    }
                    .sort-by-class {
                        width: 81px;
                    }
                    .major-class, .role-class {
                        width: 81px;
                        border-radius: 5px;
                        border: none;
                        padding: 2px 2px;
                        
                    }
                    input {
                        width: 186px;
                        border-radius: 5px;
                        border: none;
                        padding: 2px 2px;
                    }
                    

                }
            }
            #number-of-items {
                border-top-left-radius: 25px;
                border-bottom-left-radius: 25px;
                background: $websiteColor;
                width: 10%;
                height: 50%;
                @include flexFunction(space-around, center, 10%, 50%, row );
                
            }
            select {
                width: 100px;
            }
        }

        .list {
            background: $membersListBackground;
            @include flexFunction( flex-start,center, 100%, 90%, column );
            list-style: none;
            .list-element {
                //border: 1px solid $borderColor;
                margin-bottom: 30px;
                height: 30%;
                overflow: hidden;
                @include flexFunction( flex-start,flex-start, 95%, 24%, row );
                .btn{
                    @include flexFunction( flex-start,center, 7%, 100%, row );
                    
                    .delete-btn {
                        background: #FF4A4A;
                        border-radius: 50%;
                        width: 38px;
                        height: 38px;
                        cursor: pointer;
                        @include flexFunction( center,center, 38, 38, row );
                        .inner-symbol {
                            background: #FFF;
                            width: 20px;
                            height: 8px;
                        }
                    }
                }
                .member-information {
                    cursor: zoom-in;
                    width: 90%;
                   // background: olive;
                    h3 {
                        font: 22px 'Segoe UI';
                        font-weight: bold;
                    }
                    span {
                        font: 14px 'Segoe UI';
                        font-weight: bold;
                        color: $websiteColor;
                    }
                    p {
                        padding-top: 20px;
                        font: 14px 'Segoe UI';
                        color: gray;
                    }
                }
            }
        }
    }
}

            
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    //padding-top: 2%; /* Location of the box */
    //padding-bottom: 2%;
    
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* The Close Button */
    .close-container {
        background: black;
        width: 57px;
        height: 57px;
        border-radius: 50%;
        display:flex;
        justify-content:center; 
        align-items:center;
        
        .close {
            cursor: pointer;
            color: #aaaaaa;
            /*float: left;*/
            font-size: 28px;
            font-weight: bold;
            &:hover, &:focus {
                color: #FFF;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        //padding: 20px;
        border: 1px solid #888;
        width: 66%;
        border-radius: 20px;
        /*
        position: relative;
        &::before {
            position: absolute;
            bottom: 0;
            top:0;
            display: block;
            content: '';
            width: 44px;
            height: 44px;
            border-radius: 44px ;
            background: black;
        }*/
        .member-information {
            margin: auto;
            padding: 100px 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 90%;
            // background: olive;
            h2 {
                font: 78px 'Segoe UI';
                font-weight: bold;
            }
            span {
                font: 14px 'Segoe UI';
                font-weight: bold;
                color: $websiteColor;
            }
            p {
                padding-top: 20px;
                //padding-bottom: 20px;
                font: 14px 'Segoe UI';
                color: gray;
                height: 150px;
                overflow-y: scroll;
                margin: 15px;
                width: 80%;
            }
            button {
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                
            }
            .delete-btn {
                    background-color: #FF4A4A;
            }
            .save-btn {
                background-color: #2D89E6;
            } 
            .cancel-btn {
                background-color: #484848;
            } 
        }      
    }
}

